* {
    box-sizing: border-box;
}
body {
    margin: 0;

}

.header{
    background-image: url('../img/header3.jpeg');
    background-repeat: no-repeat ;
    background-position:center ;
    padding: 20px;
    text-align: center;
    color:aliceblue

}
.navbar {
    overflow: hidden;
    background-color: aqua;
    justify-content: center;
    display: flex;
}
.navbar a{
    float: left;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;

}
.navbar a:hover{
    background-color: aliceblue;
    color: rgb(15, 14, 14);
}
.column{
    float: left;
    padding: 10px;
}
.column.side{
    width: 25%;
}
.column.middle{
    width: 50%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    background-color:aqua;
    padding: 10px;
    text-align: center;
}